
.wrapper{
    display: flex;
    align-items: center;
    background-color: black;
    position: fixed;
    bottom: 10rem;
    margin: 20rem;

    width: 710rem;
    height: 80rem;
    border-radius: 40rem; 
    z-index: 9999;
}

.bag{
    font-size: 100rem;
    margin-bottom: 50rem;
    position: relative;
    bottom: -12rem;
    left:8rem;
    color: rgba(172,139,86, 0.9);
}

.number{
    color:red;
    font-size: 26rem;
    position: absolute;
    top: 0;
    left: 80rem;
}

.amount{
    position: absolute;
    left: 7rem;
    top:2rem;
    color:white;
    font-size: 20rem;
}

.hide{
    display: none;
}

.price{
    color: white;
    font-size: 36rem;
    font-weight: bold;
    padding-left: 18rem;
}

.msg{
    color: gray;
    font-size: 30rem;
    font-weight: bold;
    padding-left: 18rem;
}

.price::before{
    content: '$';
    font-size: 24rem;
    padding:2rem
}

.checkout{
    width: 200rem;
    height:85rem;
    border-radius: 40rem; 
    position: absolute;
    right: 0;
    background-color: rgb(247, 170, 5);
    border: none;
    font-size: 32rem;
    font-weight: bold;
}

.checkoutInactive{
    width: 200rem;
    height:85rem;
    border-radius: 40rem; 
    position: absolute;
    right: 0;
    background-color: lightgray;
    border: none;
    font-size: 32rem;
    font-weight: bold;
}

.inactive{
    color:gray;
}