.container{
    min-height: 100vh
}

.demo-logo-vertical {
    height: 32px;
    margin: 16px;
    background: rgba(255,255,255,.2);
    border-radius: 6px;
}

.header-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right
}

.content{
    margin: 0 16px
}

.breadcrumb{
    margin: 16px 0
}

.footer{
    text-align: center
}

